<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ihor/IdeaProjects/MiromaxCinema">
        <classes>
            <class name="film.miromax.test.AirSlateTest">
                <methods>
                    <include name="FirstTest"/>
                    <include name="SecondTest"/>
                    <include name="ThirdTest"/>
                    <include name="FourthTest"/>
                    <include name="AddProfileImage"/>
                </methods>
            </class>
            <class name="film.miromax.test.BankExchangeTest">
                <methods>
                    <include name="TestCurrencyExchange"/>
                </methods>
            </class>
            <class name="film.miromax.test.HotlineTest">
                <methods>
                    <include name="TestPlaceholder"/>
                    <include name="TestSearchField"/>
                    <include name="CheckForAdvertProduct"/>
                    <include name="TestFilterByPrice"/>
                    <include name="TestFilterByModel"/>
                    <include name="TestModelDetailPage"/>
                </methods>
            </class>
            <class name="film.miromax.test.MiromaxCinemaTest">
                <methods>
                    <include name="testOpenPage"/>
                    <include name="TestFindMovieAndOpenIt"/>
                    <include name="testCss"/>
                </methods>
            </class>
            <class name="film.miromax.test.TestNG">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>